In [1]:
import pandas as pd
import sqlite3

In [2]:
tree_df = pd.read_csv('garden_trees.tsv', sep='\t')
tree_df.head()

,accession_number,scientific_name,common_name,building,life_form,media_count
0,2011-0516A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NaN,Deciduous tree,5
1,2011-0569A,Tilia cordata 'June Bride',June Bride Littleleaf Linden,NaN,Deciduous tree,20
2,2011-1259A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NASM,Deciduous tree,5
3,2011-1257A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NASM,Deciduous tree,4
4,2014-1217A,Betula papyrifera 'Renci' Renaissance Reflection,"Paper birch,White birch,Canoe birch,Renaissanc...",NMNH,Deciduous tree,8

In [3]:
tree_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1702 entries, 0 to 1701
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  1702 non-null   object
 1   scientific_name   1702 non-null   object
 2   common_name       1679 non-null   object
 3   building          1045 non-null   object
 4   life_form         1702 non-null   object
 5   media_count       1702 non-null   int64
dtypes: int64(1), object(5)
memory usage: 79.9+ KB

In [6]:
tree_df['accession_number'] = 'SG-' + tree_df['accession_number']
tree_df.head()

,accession_number,scientific_name,common_name,building,life_form,media_count
0,SG-2011-0516A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NaN,Deciduous tree,5
1,SG-2011-0569A,Tilia cordata 'June Bride',June Bride Littleleaf Linden,NaN,Deciduous tree,20
2,SG-2011-1259A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NASM,Deciduous tree,5
3,SG-2011-1257A,Prunus subhirtella 'Pendula',Weeping Higan Cherry,NASM,Deciduous tree,4
4,SG-2014-1217A,Betula papyrifera 'Renci' Renaissance Reflection,"Paper birch,White birch,Canoe birch,Renaissanc...",NMNH,Deciduous tree,8

In [4]:
image_df = pd.read_csv('garden_edan_image_data.tsv', sep='\t')
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8097 entries, 0 to 8096
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   object_id       8097 non-null   object
 1   ids_id          8097 non-null   object
 2   image_url       8097 non-null   object
 3   image_label     8097 non-null   object
 4   image_category  8097 non-null   object
dtypes: object(5)
memory usage: 316.4+ KB

In [5]:
image_df.head()

,object_id,ids_id,image_url,image_label,image_category
0,SG-2011-0516A,SG-2011-0516A-FAL1-HL-000003,https://ids.si.edu/ids/deliveryService?id=SG-2...,FAL1,FAL
1,SG-2011-0516A,SG-2011-0516A-SPR1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,SPR1,SPR
2,SG-2011-0516A,SG-2011-0516A-SUM1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,SUM1,SUM
3,SG-2011-0516A,SG-2011-0516A-BAR1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,BAR1,BAR
4,SG-2011-0516A,SG-2011-0516A-BAR2-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,BAR2,BAR

In [7]:
image_df['image_category'].value_counts()

WIN    1590
FAL    1345
SUM    1172
STE     845
BAR     749
SPR     512
LEF     348
BUD     328
SNP     327
FLO     279
FRU     245
LEB     226
CON      98
MIS      15
HL        4
GAL       3
204       2
201       2
202       2
203       1
206       1
THR       1
SG1       1
FUN       1
Name: image_category, dtype: int64

In [8]:
image_df = image_df.rename(columns={'object_id':'accession_number'})
image_df.head()

,accession_number,ids_id,image_url,image_label,image_category
0,SG-2011-0516A,SG-2011-0516A-FAL1-HL-000003,https://ids.si.edu/ids/deliveryService?id=SG-2...,FAL1,FAL
1,SG-2011-0516A,SG-2011-0516A-SPR1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,SPR1,SPR
2,SG-2011-0516A,SG-2011-0516A-SUM1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,SUM1,SUM
3,SG-2011-0516A,SG-2011-0516A-BAR1-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,BAR1,BAR
4,SG-2011-0516A,SG-2011-0516A-BAR2-HL,https://ids.si.edu/ids/deliveryService?id=SG-2...,BAR2,BAR

In [9]:
image_df['accession_number'].nunique()

1702

In [10]:
image_df = image_df[['accession_number','ids_id','image_category']]
image_df.head()

  accession_number                        ids_id image_category
0    SG-2011-0516A  SG-2011-0516A-FAL1-HL-000003            FAL
1    SG-2011-0516A         SG-2011-0516A-SPR1-HL            SPR
2    SG-2011-0516A         SG-2011-0516A-SUM1-HL            SUM
3    SG-2011-0516A         SG-2011-0516A-BAR1-HL            BAR
4    SG-2011-0516A         SG-2011-0516A-BAR2-HL            BAR

In [22]:
con = sqlite3.connect("si_garden_trees.db")

In [19]:
tree_df.to_sql('tree_metadata', con, if_exists='replace',index=False, index_label='accession_number')

In [20]:
image_df.to_sql('tree_images', con, if_exists='replace', index=False)

In [21]:
con.close()

In [31]:
cur = con.cursor()
cur.execute('SELECT COUNT(DISTINCT accession_number) FROM tree_annotations')
result = cur.fetchone()
result[0]

0

In [26]:
result['annotation_count']

TypeError: 'builtin_function_or_method' object is not subscriptable